{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "babel"
  ],
  "globals": {
    "module": false,
    "process": false,
    "require": false,
    "exports": false,
    "__dirname": false,
  },
  "rules": {
    "react/jsx-uses-vars": 1,
    "react/jsx-uses-react": 1,
    "babel/new-cap": 0,
    "indent": ["error", 2, {SwitchCase: 1}],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "strict": 0,
    "no-case-declarations": 2,
    "no-console": 0
  }
}
